html{
    background-color: black;
  }
.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
  }
  #image{
    width: 50%;
    height: 50%;
    border: 10px solid white;

  }
  #head{
    text-transform: uppercase;
    text-align: center;
    color: whitesmoke;
    font-size: 2.5rem;
  }
  #para{
    text-align: center;
    color: whitesmoke;
  }